@tailwind base;
@tailwind components;
@tailwind utilities;


.wrapper {
  max-inline-size: 1125px;
  margin: auto;
  padding-inline: 2em;
}

.uiDisabled {
  opacity: 0.7;
  background-color: lightgray;
  pointer-events: none;
}

.p-steps-item {
  &.p-steps-current {
    .p-steps-number { 
      border: 1px solid rgb(202, 202, 202);
      background: #ffedcb;
      color: #351b1b;
    }
  }
  .p-steps-number { 
    border: 1px solid rgb(202, 202, 202);
    background: #e2e2e2;
    color: #747474;
  }
  &::before{ border-width: 1px; }
}

